<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- see http://logging.apache.org/log4j/2.x/manual/layouts.html#Patterns -->
            <PatternLayout pattern="%d{ABSOLUTE} [%t] %highlight{%-4level} %magenta{%c{.}} - %msg%n" disableAnsi="false"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>